body {
    background-color: white;
    color: blue;
    font-size: 40px;
    margin: 10px;

    .parent-element {
        display: flex;
        align-items: center;
        justify-content: center;
    }